requests==2.32.5
beautifulsoup4==4.14.2
pydantic==2.12.4
coloredlogs==15.0.1
uvicorn==0.38.0
fastapi==0.121.3
jinja2==3.1.6
lxml==6.0.2
certifi==2025.11.12
sqlmodel==0.0.27
pymysql==1.1.2
alembic==1.17.2
bcrypt==5.0.0
playwright==1.56.0
python-dotenv==1.2.1
itsdangerous==2.2.0
python-multipart==0.0.20
cryptography==46.0.3
pyyaml==6.0.3